<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feihome.support.polymerization.dao.impl.mapper.PolymerizationMapper">
	<resultMap id="TPolymerizationResultMap" type="com.feihome.model.TPolymerizationElement">
		<id property="id" column="C_ID" />
		<result property="orginId" column="C_ORGINID" />
		<result property="type" column="N_TYPE" />
		<result property="date" column="DT_DATE" />
		<result property="title" column="C_TITLE" />
		<result property="url" column="C_URL" />
		<result property="ext1" column="C_EXT1" />
		<result property="ext2" column="C_EXT2" />
		<result property="ext3" column="C_EXT3" />
		<result property="ext4" column="C_EXT4" />
		<result property="ext5" column="C_EXT5" />
	</resultMap>

	<insert id="createPolymerizationelement" parameterType="com.feihome.model.TPolymerizationElement">
		INSERT INTO
		T_POLYMERIZATIONELEMENT(C_ID,C_ORGINID,N_TYPE,DT_DATE,C_TITLE,C_URL,C_EXT1,C_EXT2,C_EXT3,C_EXT4,C_EXT5)
		VALUE(#{id},#{orginId},#{type},#{date},#{title},#{url},#{ext1},#{ext2},#{ext3},#{ext4},#{ext5})
	</insert>
	
	<select id="getPolymerizationElementsCountByType" resultType="int">
		SELECT COUNT(*) FROM T_POLYMERIZATIONELEMENT WHERE N_TYPE=#{type}
	</select>
	
	<select id="getPolymerizationTopOneElementByType" resultMap="TPolymerizationResultMap">
		SELECT * FROM T_POLYMERIZATIONELEMENT WHERE N_TYPE=#{type} ORDER BY C_ORGINID DESC LIMIT 0,1
	</select>

	<select id="getPolymerizationTopOneElementByOrginId" resultMap="TPolymerizationResultMap">
		SELECT * FROM T_POLYMERIZATIONELEMENT WHERE C_ORGINID=#{orginId} and N_TYPE=#{type} ORDER BY C_ORGINID DESC LIMIT 0,1
	</select>
	
	<select id="getPolymerizationElementsByType" resultMap="TPolymerizationResultMap">
		SELECT * FROM T_POLYMERIZATIONELEMENT WHERE N_TYPE=#{type} ORDER BY C_ORGINID DESC
	</select>
</mapper>