body {
	
}

.blogPanel {
	min-height: 100px;
	border: 1px #717171;
	padding: 10px;
	border-bottom: 1px dashed #000;
}

.blogTitle {
	padding: 5px;
}

.blogTitleText {
	font-size: 18px;
	font-weight: bold;
}

.blogContent {
	font-size: 14px;
	padding: 5px;
}

.blogTitleTime {
	font-size: 12px;
	color: #717171;
}

.blogTypeLabel {
	height: 61px;
	width: 161px;
	color: #000000;
	background-image: url("../../../images/test.png");
}

.blogCommentTip {
	padding: 5px;
	text-align: right;
}

.actGotop {
	position: fixed;
	_position: absolute;
	bottom: 0px;
	right: 40px;
	width: 150px;
	height: 195px;
	display: none;
}

.actGotop a,.actGotop a:link {
	width: 150px;
	height: 195px;
	display: inline-block;
	background: url(../../../img/returntop.png) no-repeat;
	outline: none;
}

.actGotop a:hover {
	width: 150px;
	height: 195px;
	display: inline-block;
	background: url(../../../img/returntop.png) no-repeat;
	outline: none;
}

.box {
	border-radius: 3px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid #E2E2E9;
	margin-bottom: 20px;
	background-color: #fff;
	margin-left: -4px;
	margin-right: -4px;
}