.blogPanel{
	background-color:#EEEEEE;
	min-height:100px;
	border:1px #717171; 
	padding: 10px;
}
.blogTitle{
	/* border-bottom:1px dashed #000;  */
	border-bottom:#C8B9AE solid 1px;
	padding:5px;
}
.blogTitleText{
	font-size: 18px;
	font-weight: bold;
}
.blogContent{
	font-size: 14px;
	border-bottom:1px dashed #000;
	padding:5px;
}
.blogTitleTime{
	font-size: 12px;
	color: #717171;
}
.blogTypeLabel{
	height:61px;
	width:161px;
	color: #000000;
	background-image:url("../../../images/test.png");
} 
.blogCommentTip{
	padding:5px;
}
 

body { padding-top: 70px; }



.raised {
	background: transparent;
	padding-top: 5px;
	padding-bottom: 5px;
}

.raised .b1,.raised .b2,.raised .b3,.raised .b4,.raised .b1b,.raised .b2b,.raised .b3b,.raised .b4b
	{
	display: block;
	overflow: hidden;
	font-size: 1px;
}

.raised .b1,.raised .b2,.raised .b3,.raised .b1b,.raised .b2b,.raised .b3b
	{
	height: 1px;
}

.raised .b2 {
	background: #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #eee;
}

.raised .b3 {
	background: #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #ddd;
}

.raised .b4 {
	background: #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #aaa;
}

.raised .b4b {
	background: #ccc;
	border-left: 1px solid #eee;
	border-right: 1px solid #999;
}

.raised .b3b {
	background: #ccc;
	border-left: 1px solid #ddd;
	border-right: 1px solid #999;
}

.raised .b2b {
	background: #ccc;
	border-left: 1px solid #aaa;
	border-right: 1px solid #999;
}

.raised .b1 {
	margin: 0 5px;
	background: #fff;
}

.raised .b2,.raised .b2b {
	margin: 0 3px;
	border-width: 0 2px;
}

.raised .b3,.raised .b3b {
	margin: 0 2px;
}

.raised .b4,.raised .b4b {
	height: 2px;
	margin: 0 1px;
}

.raised .b1b {
	margin: 0 5px;
	background: #999;
}
