body {
	background: url("../img/sinablogb.jpg") no-repeat;
	background-position: center top;
	background-color: #e2ddc7;
	margin-top:  50px;
	position: relative;

}

* {
	text-shadow: 0.01em 0.01em 0.1em #999999 !important;
}

*{
	font-family: "Microsoft YaHei" !important;
}

.glyphicon{
	font-family: 'Glyphicons Halflings' !important;;
}
