<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feihome.logic.blog.dao.impl.mapper.BlogMapper">
	<resultMap id="TBlogResultMap"
		type="com.feihome.model.TBlog">
		<id property="NId" column="N_ID" />
		<result property="CTitle" column="C_TITLE" />
		<result property="CContent" column="C_CONTENT" />
		<result property="NType" column="N_TYPE" />
		<result property="NUserid" column="N_USERID" />
		<result property="dtCreatetime" column="DT_CREATETIME" />
		<result property="dtEdittime" column="DT_EDITTIME" />
		<result property="CUsername" column="C_USERNAME" />
		<result property="CSummary" column="C_SUMMARY" />
	</resultMap>

	<select id="getBlogs" resultMap="TBlogResultMap">
		SELECT b.*,u.C_USERNAME as C_USERNAME
		FROM T_BLOG b LEFT JOIN T_USER u ON b.N_USERID = u.N_ID
		ORDER BY b.DT_CREATETIME DESC
	</select>

	<select id="getBlogById" resultMap="TBlogResultMap">
		SELECT b.*,u.C_USERNAME as C_USERNAME
		FROM T_BLOG b LEFT JOIN T_USER u on b.N_USERID = u.N_ID
		WHERE b.N_ID = #{id}
		ORDER BY b.DT_EDITTIME DESC
	</select>

	<select id="getPagableBlogs" resultMap="TBlogResultMap">
		SELECT b.*,u.N_ID as USERID,u.C_USERNAME as USERNAME
		FROM T_BLOG b ,T_USER u
		WHERE b.N_USERID = u.N_ID 
		ORDER BY b.DT_EDITTIME DESC
		LIMIT #{page} ,#{count};
	</select>
	
	<select id="getBlogsCount" resultType="java.lang.Integer">
		SELECT count(*)
		FROM T_BLOG b ,T_USER u
		WHERE b.N_USERID = u.N_ID 
	</select>
	
		<insert id="createBlog"
		parameterType="com.feihome.model.TBlog">
			INSERT INTO
			T_BLOG(C_TITLE,C_CONTENT,C_SUMMARY,DT_CREATETIME,DT_EDITTIME,N_TYPE,N_USERID)
			VALUE (#{CTitle},#{CContent},#{CSummary},#{dtCreatetime},#{dtEdittime},#{NType},#{NUserid})
	</insert>

	<update id="editBlog"
		parameterType="com.feihome.model.TBlog">
			UPDATE T_BLOG
			SET C_TITLE = #{CTitle}, C_CONTENT = #{CContent},C_SUMMARY=#{CSummary}, DT_EDITTIME= #{dtEdittime}
			WHERE N_ID = #{NId}
	</update>
	
	<delete id="deleteBlog" parameterType="Integer">
		DELETE FROM T_BLOG
		WHERE N_ID = #{id}
	</delete>
</mapper>