<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feihome.logic.blog.dao.impl.mapper.BlogMapper">
	<resultMap id="TBlogResultMap"
		type="com.feihome.model.TBlog">
		<id property="NId" column="N_ID" />
		<result property="CTitle" column="C_TITLE" />
		<result property="CContent" column="C_CONTENT" />
		<result property="NType" column="N_TYPE" />
		<result property="NUserid" column="N_USERID" />
		<result property="dtCreatetime" column="DT_CREATETIME" />
		<result property="dtEdittime" column="DT_EDITTIME" />
		<result property="CUsername" column="C_USERNAME" />
	</resultMap>

	<select id="getBlogs" resultMap="TBlogResultMap">
		select b.*,u.C_USERNAME as C_USERNAME
		from t_blog b left join t_user u on b.N_USERID = u.N_ID
		order by b.DT_EDITTIME desc
	</select>

	<select id="getPagableBlogs" resultMap="TBlogResultMap">
		select b.*,u.N_ID as USERID,u.C_USERNAME as USERNAME
		from t_blog b ,t_user u
		where b.N_USERID = u.N_ID order by b.DT_EDITTIME desc
		LIMIT  #{page} ,#{count};
	</select>
	
		<insert id="createBlog"
		parameterType="com.feihome.model.TBlog">
			insert into t_blog(C_TITLE,C_CONTENT,DT_CREATETIME,DT_EDITTIME,N_TYPE,N_USERID)
			VALUE(#{CTitle},#{CContent},#{dtCreatetime},#{dtEdittime},#{NType},#{NUserid})
	</insert>
</mapper>